container {
    /*background-color: pink;*/
    position: absolute;
    bottom: 0;
    top: 100px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
}

h3 {
    display: block;
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 0px
}

.login {
    width: 400px;
}

fieldset {
    /*background-color: yellow;*/
    /*max-width: 300px;*/
}

.smt-submit {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

::deep .info-card {
    background-color: #cff4fc;
}

