@page "/Matches"
@using AnglingClubShared.Enums
@using AnglingClubShared.Models

@inherits MvvmComponentBase<MatchesViewModel>

<div>
    <h3 class="left-header">Matches</h3>
    <div class="@(ViewModel.IsMobile ? "edit-button-panel" : "desktop-season-selector")">
        @if (ViewModel.RefDataLoaded)
        {
            <span style="display: inline-flex">Season</span>
            <SfDropDownList TValue="Season"
                            TItem="SeasonInfo"
                            Placeholder="Season"
                            Width="100px"
                            FloatLabelType="FloatLabelType.Never"
                            DataSource="@ViewModel.RefData!.Seasons"
                            @bind-Value="@ViewModel.RefData!.CurrentSeason">
                <DropDownListFieldSettings Value="Season" Text="Name"></DropDownListFieldSettings>
            </SfDropDownList>
        }
    </div>
</div>
<br />
<br />

<p >You can see more details of each match and the results by selecting <i class="fa-solid fa-circle-info" style="color: #1976d2;"></i> next to each match.</p>

@code {

}
