@page "/News"

@inherits MvvmComponentBase<NewsViewModel>

<h3>News</h3>

@if (ViewModel.CurrentUser == null)
{
    <AuthorizationRequired/>
}
else
{
    <p>
        Membership No: @ViewModel.CurrentUser!.MembershipNumber
    </p>

    <p>
        Email: @ViewModel.CurrentUser!.Email
    </p>

}

@code {
}
