@using AnglingClubShared.Enums
@inherits MvvmLayoutComponentBase<EmbeddedLayoutViewModel>

<div class="embedded-blazor-content">

    @if (debuggingDeviceType)
    {
        <span class="floating-panel">
            Size: <b>@ViewModel.BrowserSize</b> Portrait: <b>@ViewModel.BrowserPortrait</b> Dims: <b>@ViewModel.BrowserWidth</b> x <b>@ViewModel.BrowserHeight</b>
        </span>
    }

    <div class="main-content">
        @Body
    </div>

</div>


@code {
    // TODO Ang to Blazor Migration - this file only needed whilst migrating from Angular to Blazor.
    public bool debuggingDeviceType = false;

}
