/*-------------------------
    Progress bar
--------------------------*/
.progress {
    background-color: unset;
    position: fixed;
    bottom: 0;
    right: 10px;
    height: 40px;
    z-index: 2;
    margin: 0 10px;
}

.progress-with-menu {
    left: 200px;
}

.progress-full-width {
    left: 10px;
}
