html, body {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    /*background-color: #2DD4BF;*/ /* Teal 400 */
    background-color: whitesmoke !important; /* Teal 400 */
    font-size: 14px !important;
    font-family: Roboto, "Helvetica Neue", sans-serif !important;
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
}

h3 {
    margin: 6px 0 2px;
}


/*-------------------------
    Badges
--------------------------*/

.highlight-badge {
    /*float: right;*/
    margin-right: 5px
}

    .highlight-badge .e-chip .e-chip-text {
        font-size: 9px;
        font-weight: normal;
        padding-top: 3px;
    }

    .highlight-badge .e-chip {
        height: 14px !important;
    }

/*-------------------------
    Page layout
--------------------------*/
.left-header {
    float: left;
}

.edit-button-panel {
    float: right;
}

.edit-button {
    margin-left: 12px;
}

/*-------------------------
    Cards
--------------------------*/
.e-card .e-card-header {
    font-family: cursive !important;
    font-style: italic !important;
}

.error-alert-card {
    background-color: white;
    color: red;
    border: 2px solid red;
    padding: 12px;
    border-radius: 6px;
    box-shadow: 2px 2px grey;
}

.card-title {
    font-size: larger;
    font-weight: bold;
    margin-bottom: 2px;
}

.card-subtitle {
    font-size: smaller;
    font-weight: 300;
}

.card-content {
    margin-top: 6px;
}

.card-icon {
    margin-right: 6px;
}

.e-card {
    margin-bottom: 10px !important;
    box-shadow: 1px 1px grey !important;
}

/*-------------------------
    Responsive class definitions
--------------------------*/

@media screen and (min-width: 1px) {

}

@media screen and (min-width: 600px) {

}


