/* app-blazor-host is the element that replaces <router-outlet> */
app-blazor-host {
  flex: 1 1 auto;
  display: flex;
  min-height: 0;
}

/* Inside your component */
.blazor-host {
  flex: 1 1 auto;
  display: flex;
  min-height: 0;
  /*height: 1500px;*/ /* TODO Ang to Blazor Migration - Tmp fix for toolbar height mismatch in ang & blazor */
}

.blazor-frame {
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  border: 0;
}
