@inherits MvvmLayoutComponentBase<AppLinkViewModel>
@inject NavigationManager NavManager
@inject HostBridge HostBridge // TODO Ang to Blazor Migration - only required until migration complete
@inject IConfiguration _configuration; // TODO Ang to Blazor Migration - only required until migration complete

<a @onclick="AppRedirect" href="javascript:void(0)">@ChildContent</a>

@code {
    [Inject] IJSRuntime JS { get; set; } = default!;  // TODO Ang to Blazor Migration - only required until migration complete

    [Parameter] public RenderFragment? ChildContent { get; set; }

    [Parameter] public String Href { get; set; } = "/";

    private bool isEmbedded;  // TODO Ang to Blazor Migration - only required until migration complete

    // TODO Ang to Blazor Migration - only required until migration complete
    protected override async Task OnInitializedAsync()
    {
        isEmbedded = await HostBridge.IsEmbeddedAsync();
    }

    private async Task AppRedirect()
    {
        // TODO Ang to Blazor Migration - only required until migration complete
        if (isEmbedded)
        {
            await JS.InvokeVoidAsync("blazorHostBridge.requestAngPage", Href);
        }
        else
        {
            ViewModel.NavToPage(_configuration["BaseHref"] + Href); // Just retain this line when migration complete
        }
    }
}
