@using AnglingClubShared.Enums
@using AnglingClubShared.Models;

@inherits RazorComponentBase;

<div class="@(BrowserSize == DeviceSize.Small ? "edit-button-panel" : "desktop-season-selector")">
    @if (RefDataLoaded)
    {
        <span style="display: inline-flex">Season</span>
        <SfDropDownList TValue="Season?"
                        TItem="SeasonInfo"
                        Placeholder="Season"
                        Width="100px"
                        FloatLabelType="FloatLabelType.Never"
                        DataSource="@RefData!.Seasons" 
                        Value="@SelectedSeason"
                        ValueChanged="OnValueChanged">
            <DropDownListFieldSettings Value="Season" Text="Name"></DropDownListFieldSettings>
        </SfDropDownList>
    }
</div>

